.instructions {
    margin: 0 auto;
    margin-top: 10rem;
    max-width: 100;
    display: flex;
    flex-direction: column;
    flex-wrap: 1;
    align-items: center;
    justify-content: center;
    border-top: 2px solid rgb(38 38 40 / 9%);
    padding-top: 2rem;
    height: 45rem;

    &__heading {
        font-size: 3rem;
        letter-spacing: .3rem;
        margin-bottom: 2rem;
    }

    &__wrapper {
        display: flex;
        max-width: 120rem;
        justify-content: center;

        &--steps {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            height: 25rem;
            padding-left: 1rem;
            padding-top: 1rem;
            width: 30%;

            &-span {
                max-width: 22rem;
                font-size: 1.8rem;
                color: rgb(24, 184, 13);
                margin-bottom: .5rem;
            }
            &-heading {
                font-size: 1.7rem;
                letter-spacing: .08rem;
                margin-bottom: 1rem;
            }
            &-paragraph {
                width: 90%;
                font-size: 2rem;
            }
        }
    }
}
